{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{%  static "css/style.css" %}">
</head>
<body>
        {% for field_key, field_value in user.items %}
            {% if field_key == 'name'%}
                <p><bold>{{ field_value }}</bold></p>

            {% else %}
                <p>{{ field_value }}</p>

            {% endif %}


        {% endfor %}

        {{ user }}

        <p>
           {{ title }}
        </p>
        <p>
            {{ author }}
        </p>
        <p>
            {{ content }}
        </p>
</body>
</html>